.footer-section {
  background: #1a1b1b;
}

.button-cta {
  display: inline-block;
  background: #f5f5f5;
  border-radius: 3px;
  border: solid 1px #f5f5f5;
  color: #191a1a;
  cursor: pointer;
  padding: 0.8em 1em 0.7em;
  position: relative;
  overflow: hidden;
  transition: background-color 400ms ease, border 400ms ease;
}
