* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: right;
  z-index: 2;
}
.header-colored {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
}
section {
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
}

/*
Credits
Background image from unsplash
Link: https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80
*
*/
.main {
  width: 100%;
  height: 100%;
  transform: translateY(100vh);
  transition: transform 1s;
  background-image: url("../images/bg_one.jpeg");
  background-color: #ffff;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.full-height {
  height: 100% !important;
  transform: translateY(0);
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}
h1 div {
  display: inline-block;
}
.container h1 {
  font-size: 3.5vw;
  margin-top: 140px;
  width: 60vw;
  color: #191a1a;
  letter-spacing: 0em;
  line-height: 1.56em;
}
.scroll-container {
  /* border: 1px solid blue; */
  width: 100px;
  position: absolute;
  bottom: 80px;
  background: transparent;
}
.scroll-container img {
  width: 100%;
  background: transparent;
}
.card {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
}
@media only screen and (max-width: 1004px) {
  .card {
    min-width: 251px;
  }
}
.email {
  margin-top: 10px;
}

.background-dark {
  background-color: #121212;
}

.toggle-theme {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button-white-theme {
  border: 1px solid black;
}

.button-dark-theme {
  color: #90caf9;
  background-color: #121212;
  border: 1px solid #90caf9;
}

a {
  text-decoration: none;
  color: #f48fb1;
}
a:hover {
  text-decoration: underline;
}

footer img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.social-media-icons-container {
  text-align: center;
}

.more-about-link-container {
  text-align: right;
}
.section--two {
  background-color: #edeef3;
  padding: 1rem;
}
.section-two-content {
  text-align: center;
}

.section-two-heading {
  /* margin: 40px 0; */
}

.experience-container,
.projects-container {
  display: flex;
  /* height: calc(100vh / 2); */
  /* border: 1px solid green */
}

.experience-item,
.project-item {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
}
.company-logo-container {
  /* height: 20vw; */
  width: 20vw;
  margin: 0 auto;
}
.company-logo {
  width: 100%;
}
.skills-section {
  background: #fff;
  border-radius: 3px;
  padding: 1.875rem;
  margin-top: 1.875rem;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  overflow: scroll;
}
.skills-item {
  padding: 0.625rem 0.875rem;
  border: 1px solid #d6dee4;
  border-radius: 0.1875rem;
  background-color: #fff;
  min-width: 5.625rem;
  display: inline-grid;
  margin-right: 1.25rem;
  margin-bottom: 1.0625rem;
}
