* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.card {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
}

.email {
  margin-top: 10px;
}
